.header {
  padding: 28px 0;
}

.header__container {
  display: flex;
  justify-content: space-between;
  column-gap: 170px;

  @media (max-width: 1279px) {
    column-gap: 13%
  }
}

.header__type-logo {
  color: #000002;
  font-size: 32px;
  font-style: normal;
  font-weight: 900;
}
